:root {
  --box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  --button-hover-transition: 0.7s all;
}
button {
  cursor: pointer;
  border-radius: 30px;
  padding: 20px 30px;
  background-color: transparent;
  border: 5px solid;
  font-size: 2vw;
}
small {
  font-size: 1vw;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  color: rgb(205, 204, 204);
}

.hi {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #111;
  overflow: hidden;
}
.hi h1 {
  font-size: 20vw;
  color: #eabeff;
}
.hiText-container {
  flex: 3;
  cursor: default;
}
.image-container {
  flex: 2;
}
.profile-pic {
  border-radius: 72vh 0 0 0;
  box-shadow: var(--box-shadow);
  width: 100%;
}
.name-container h1 {
  font-size: 15vw;
}
.name-container {
  height: 100vh;
  background-color: rgb(43, 0, 43);
  cursor: default;
  text-align: center;
  line-height: 100vh;
}
.name {
  font-family: "Dancing Script", cursive;
  font-size: 20vw;
  color: #eabeff;
}
.job-title-container {
  height: 100vh;
  cursor: default;
}
.job-title-container h1 {
  font-size: 9vw;
  line-height: 100vh;
}
.dark {
  background: black;
}
.purple {
  background-color: rgb(77, 1, 77);
}
.projects {
  background-color: #111;
  display: flex;
  flex-direction: column;
  gap: 30vh;
  padding: 0 100px;
  cursor: default;
}
.project-title {
  font-size: 5vw;
  cursor: default;
}
.project {
  display: flex;
  align-items: center;
  gap: 100px;
  height: 100vh;
  overflow: hidden;
}
.project:nth-child(2n) {
  flex-direction: row-reverse;
}
.project-description {
  font-size: 2vw;
}

.iphone-app {
  height: 1578px;
  width: 796px;
  position: relative;
  flex: 2;
}
.phone-screen {
  height: 1492px;
  width: 716px;
  position: absolute;
  top: 40px;
  left: 38px;
  border-radius: 80px;
  overflow: scroll;
}
.dictionary-app-iphone {
  position: relative;
  flex: 1;
  height: 1578px;
  width: 796px;
}

.phone-screen::-webkit-scrollbar,
.laptop-screen::-webkit-scrollbar {
  display: none;
}
.app-page {
  width: 100%;
}
.project-detail {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
.project-description {
  font-size: 1.5vw;
  text-align: justify;
}
.button-set {
  gap: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.launch-button,
.source-code-button {
  position: relative;
  overflow: hidden;
}
.launch-button::after {
  content: "Launch app";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: rgb(205, 204, 204);
  color: #111;
  transition: var(--button-hover-transition);
  display: flex;
  align-items: center;
  justify-content: center;
}
.launch-button:hover.launch-button::after,
.source-code-button:hover.source-code-button::after {
  transform: translateX(100%);
}
.source-code-button::after {
  content: "Source code";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: rgb(205, 204, 204);
  color: #111;
  transition: var(--button-hover-transition);
  display: flex;
  align-items: center;
  justify-content: center;
}
.travel-page-laptop {
  position: relative;
  flex: 1;
}
.empty-laptop {
  height: 1004px;
  width: 1680px;
}
.laptop-screen {
  height: 910px;
  width: 1300px;
  position: absolute;
  top: 56px;
  left: 189px;
  border-radius: 20px;
  overflow: scroll;
}
