:root {
  --box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  --button-hover-transition: 0.7s all;
}
button {
  cursor: pointer;
  border-radius: 30px;
  padding: 20px 30px;
  background-color: transparent;
  border: 5px solid;
  font-size: 2vw;
}
small {
  font-size: 1vw;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  color: rgb(205, 204, 204);
}

.hi {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #111;
  overflow: hidden;
}
.hi h1 {
  font-size: 20vw;
}
.hiText-container {
  flex: 3;
  cursor: default;
}
.image-container {
  flex: 2;
}
.profile-pic {
  border-radius: 72vh 0 0 0;
  box-shadow: var(--box-shadow);
  width: 100%;
}
.name-container h1 {
  font-size: 8vw;
}
.name-container {
  height: 100vh;
  background: rgb(112, 50, 133);
  cursor: default;
  line-height: 100vh;
}
.name {
  font-family: "Dancing Script", cursive;
  font-size: 18vw;
  color: #ffecff;
}

.job-title-container {
  height: 100vh;
  cursor: default;
}
.job-titles {
  font-size: 8vw;
  line-height: 100vh;
}

.dark {
  background: url(geoBackground.png),
    linear-gradient(
      181deg,
      rgb(13, 0, 19) 0%,
      rgb(89, 89, 89) 49%,
      rgb(13, 0, 19) 100%
    );
  background-size: contain;
}
.purple {
  background: url(geoBackground.png),
    linear-gradient(
      181deg,
      rgb(78, 0, 115) 0%,
      rgb(96, 41, 114) 49%,
      rgb(78, 0, 115) 100%
    );
  background-size: contain;
}
.projects {
  background-color: #111;
  display: flex;
  flex-direction: column;
  gap: 30vh;
  padding: 0 100px;
  cursor: default;
}
.project-title {
  font-size: 5vw;
  cursor: default;
  text-align: center;
}
.project {
  display: flex;
  align-items: center;
  gap: 100px;
  height: 100vh;
  overflow: hidden;
  flex-direction: row;
}

.project-description {
  font-size: 20px;
  text-align: justify;
  line-height: 40px;
}

.iphone-app {
  width: 300px;
  height: 600px;
  position: relative;
  flex: 1;
}

.phone-screen {
  width: 264px;
  height: 567px;
  position: absolute;
  top: 17px;
  left: 18px;
  border-radius: 28px;
  overflow: scroll;
}
.dictionary-app-iphone {
  position: relative;
  flex: 1;
  height: 1578px;
  width: 796px;
}

.phone-screen::-webkit-scrollbar,
.laptop-screen::-webkit-scrollbar {
  display: none;
}
.app-page {
  width: 100%;
}
.project-detail {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
.project-description {
  font-size: 1.5vw;
  text-align: justify;
}
.button-set {
  gap: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.launch-button,
.source-code-button {
  position: relative;
  overflow: hidden;
}
.launch-button::after {
  content: "Launch app";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: rgb(205, 204, 204);
  color: #111;
  transition: var(--button-hover-transition);
  display: flex;
  align-items: center;
  justify-content: center;
}
.launch-button:hover.launch-button::after,
.source-code-button:hover.source-code-button::after {
  transform: translateX(100%);
}
.source-code-button::after {
  content: "Source code";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: rgb(205, 204, 204);
  color: #111;
  transition: var(--button-hover-transition);
  display: flex;
  align-items: center;
  justify-content: center;
}
.laptop {
  width: 600px;
  height: 379px;
  flex: 1;
  position: relative;
}

.laptop-screen {
  width: 451px;
  height: 283px;
  position: absolute;
  top: 18px;
  left: 68px;
  overflow: scroll;
}
.github-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #111;
}
.github-container h1 {
  font-size: 100px;
}
@media screen and (max-width: 1024px) {
  .project {
    flex-direction: column !important;
  }
  .project-detail,
  .app-showcase {
    transform: none !important;
  }
}
